<% if logged_in? %>

<%= link_to gravatar_for(current_user), current_user %>
<h1>Hello!! <%= current_user.name %></h1>

<% else %>

<div class="center jumbotron">
  <h1>Dolphin Scuba Store </h1>

  <h2>ダイブコンピューター専門販売サイト</h2>

  <%= link_to "サインアップはこちら", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<% end %>