<h1><%= @product.name%></h1>

<%= @product.price %>

<%#= button_to 'カートに入れる', add_item_path(product_id: @product.id) %>

<%= form_for(@product,url: add_item_path(product_id: @product.id)) do |f| %>
  <%= f.submit "カートに入れる", class: "btn btn-primary" %>
<% end %>